body {
  background: url('casino.jpg');
  background-size: cover;
}

.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered img {
  content: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}

/*.player-hand-container {
  margin: 0 auto;
}

.dealer-hand-container {
  margin: 0 auto;
}
*/

.gameBoard {
  margin: 0 auto;
}