body {
  background: url('casino.jpg');
  background-size: cover;
  color: #fff;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
}

.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered img {
  content: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}

h2 {
  margin-left: 50px;
}

.player-hand-container {
  margin-left: 500px;
}

.dealer-hand-container {
  margin-left: 500px;
}


.gameBoard {
  margin: 0 auto;
}